In [1]:
temp={}
temp['sun']=33.4
temp['mon']=45
temp['tue']=30
temp

{'sun': 33.4, 'mon': 45, 'tue': 30}

In [3]:
mail_id={'reddy':'reddy@gmail','brahma':'brah@gmail'}
mail_id

{'reddy': 'reddy@gmail', 'brahma': 'brah@gmail'}

In [4]:
mail_id.keys()

dict_keys(['reddy', 'brahma'])

In [5]:
mail_id.values()

dict_values(['reddy@gmail', 'brah@gmail'])

In [6]:
mail_id['reddy']

'reddy@gmail'

In [7]:
dic={}

In [8]:
dic

{}

In [20]:
num={1:'one',2:"two",3:'three'}
num

{1: 'one', 2: 'two', 3: 'three'}

In [10]:
a=dict(num)

In [11]:
a

{1: 'one', 2: 'two', 3: 'three'}

In [12]:
len(num)

3

## operations

In [18]:
dict()

{}

In [21]:
del num[2]

In [22]:
1 in num

True

In [23]:
2 in num

False

In [24]:
3 in num

True

## create different ways

syntax={key:value pair,keys:valuepairs}

one - way

In [25]:
my_dict={1:'apple',2:'ball',3:'cat'}

second way

In [26]:
my_dict={}
my_dict[1]='apple'
my_dict[2]='bat'
my_dict[3]='cat'
my_dict

{1: 'apple', 2: 'bat', 3: 'cat'}

third way

In [29]:
d=dict([(1,'apple'),(2,'banana'),(3,'cat')])
d

{1: 'apple', 2: 'banana', 3: 'cat'}

simple program

In [33]:
a=[1,2,3,4]
b=['apple','ball','dog','cat']

In [34]:
my_dict={}
for i in range(len(a)):
    my_dict[a[i]]=b[i]
my_dict

{1: 'apple', 2: 'ball', 3: 'dog', 4: 'cat'}

## Access

In [35]:
my_dict={1:'apple',2:'ball',3:'cat'}

In [36]:
my_dict.keys()

dict_keys([1, 2, 3])

In [37]:
my_dict.values()

dict_values(['apple', 'ball', 'cat'])

In [38]:
my_dict[3]

'cat'

In [40]:
# my_dict['apple']             ....error formed

In [41]:
my_dict.get(1)

'apple'

In [42]:
my_dict.get(5)

## Insert

In [43]:
my_dict[4]='dog'

In [44]:
my_dict

{1: 'apple', 2: 'ball', 3: 'cat', 4: 'dog'}

In [45]:
my_dict[2]='bat'

In [46]:
len(my_dict)

4

In [47]:
my_dict

{1: 'apple', 2: 'bat', 3: 'cat', 4: 'dog'}

## Iterables or fromKeys

syntax=(iterable,value)

In [51]:
students={'jhon':20,'rina':21,'ann':22}
students.setdefault('jhon')

20

In [52]:
students.setdefault('brah')

In [53]:
students

{'jhon': 20, 'rina': 21, 'ann': 22, 'brah': None}

In [54]:
students.setdefault('roo',100)

100

In [55]:
students

{'jhon': 20, 'rina': 21, 'ann': 22, 'brah': None, 'roo': 100}

## Method

In [8]:
list1=[1,2,3,4]
list2=['a','b','c','d']
dict1={1:'apple',2:'ball',3:'cat'}
dict2={0:'orange'}

In [9]:
list1+list2

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [4]:
# dict1+dict2

## Update

syntax=Dictionary.update(dictionary)

In [10]:
dict1.update(dict2)

In [11]:
dict1

{1: 'apple', 2: 'ball', 3: 'cat', 0: 'orange'}

In [12]:
dict2

{0: 'orange'}

dictionary add list

In [1]:
dict1={1:'a',2:'b'}
list1=[3,'c']

In [2]:
dict1.update([list1])

In [3]:
dict1

{1: 'a', 2: 'b', 3: 'c'}

In [4]:
dict1.update(y=3,z=2,x=1)

In [5]:
dict1

{1: 'a', 2: 'b', 3: 'c', 'y': 3, 'z': 2, 'x': 1}

In [6]:
dict2={1:'apple'}
dict1.update(dict2)

In [7]:
dict1

{1: 'apple', 2: 'b', 3: 'c', 'y': 3, 'z': 2, 'x': 1}

In [8]:
dict2

{1: 'apple'}

In [9]:
dict2.update(dict1)

In [10]:
dict2

{1: 'apple', 2: 'b', 3: 'c', 'y': 3, 'z': 2, 'x': 1}

### Delete

In [11]:
my_dict={1:'a',2:'b',3:'c',4:'d'}

In [12]:
del my_dict[2]

In [13]:
my_dict

{1: 'a', 3: 'c', 4: 'd'}

### pop

In [14]:
my_dict.pop(1)

'a'

In [15]:
my_dict

{3: 'c', 4: 'd'}

### clear

In [16]:
my_dict.clear()
my_dict

{}

In [17]:
my_dict

{}

In [18]:
del my_dict

In [20]:
# my_dict

### List VS Dictionaries

In [21]:
list1=[2,3,4,'hello']

In [22]:
list1[3]

'hello'

In [23]:
dict2={1:'one',2:'two',3:'three'}

In [25]:
dict2[2]

'two'

# Temperature Display Program

In [32]:
daily_temps={'sun':68.8,'mon':71,'tues':67,'wed':71.8,'thur':73.4,'fri':75.5,'sat':74}
dayname={'sun':'sunday','mon':'monday','tues':'tuesday','wed':'wednsday','thur':'thursday','fri':'friday','sat':'saturday'}

In [33]:
day=input("Enter 'sun','mon','tues','wed','thur','fri','sat':")

Enter 'sun','mon','tues','wed','thur','fri','sat':mon

In [34]:
print('The temperature for ',dayname[day],'was',daily_temps[day],'degrees')

the temperature for  monday was 71 degrees